* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, #fce4ec, #e2054f);
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
    color: #000000;
}

.title {
    font-family:'Montserrat';
    font-size: 3rem;
    color: #000000;
    text-shadow: 
        3px 3px 0 #ffffff,  
        -3px -3px 0 #ffffff,
        3px -3px 0 #ffffff,
        -3px 3px 0 #ffffff;
    margin-bottom: 20px;
    padding: 10px;
    background: #f8b9cf;
    border-radius: 10px;
}

.intro {
    font-family: 'Arial', sans-serif;
    font-size: 1.25rem;
    color: #000000;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 10px; /* Bordas arredondadas no menu */
    max-width: 1000px;
}

ul.menu li {
    padding: 15px;
}

ul.menu li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

ul.menu li a:hover {
    background-color: #f8bbd0; /* Efeito qndo passa o mouse */
    padding: 10px 15px;
    border-radius: 5px;
}

ul.menu div {
    font-size: 14px;
    color: #000000;
    margin-top: 5px;
}

ul.menu li:hover div {
    color: #f8bbd0; /* Efeito qndo passa o mouse */
}